.bullet-game{
    height: 0.3rem;
    width: 0.3rem;
    background-color: yellow;
    position: absolute;
}

.player{
    height: 26px;
    width: 12px;
    background-color: yellow;
    position: absolute;

}


div.left{
    background-color: green;
}